body {
    margin: 0;
    padding: 0;
 }

.wrapper {
    margin: 0;
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: 60px 500px auto 100px; 
    grid-template-areas: 
    "hd hd"
    "tl tr"
    "cont cont"
    "ft ft";
}
header {
    background: rgb(21, 44, 65);
    /* width: 100%;
    height: 60px; */
    grid-area: hd;
    border: red;
    
}

.topleft {
    grid-area: tl;
    background-image: url(../images/hiking.jpg);
    margin: 50px;
}

.topright {
    grid-area: tr;
    margin-left: 20px;
    margin-right: 50px;
}

#quote {
    font-size: 4em;
    font-family: 'Oleo Script', cursive;
}
#auther {
    font-size: 30px;
}

.container {
    grid-area: cont;
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
}


/* .tyles::after {
    content: "";
    background: url("../images/world-map.jpg");
    background-size: contain;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
} */

.box1{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 300px;
    margin: 30px;
}

.box2{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 300px;
    margin: 30px;

}

.box3{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 300px;
    margin: 30px;

}

.box4{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 300px;
    margin: 30px;

}

.box5{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 300px;
    margin: 30px;

}

.box6{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 300px;
    margin: 30px;

}

.box7{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 300px;
    margin: 30px;
}

.box8{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 300px;
    margin: 30px;
}

footer {
    grid-area: ft;
    background: rgb(21, 44, 65);
}