@import url("desktop.css");
@import url("mobile.css");

body {
    margin: 0;
    padding: 0;
}

#title-logo a:link a:visited a:hover {
    color: white;
}

#title-logo {
    text-decoration: none;
}

a:link {
    color: white; 
}
a:visited { 
    color: azure; 
}
a:hover { 
    color: lightskyblue; 
} 

header {
    background: rgb(21, 44, 65);
    grid-area: hd;
}

.box{
    background-color: rgb(21, 44, 65);
    width: 300px;
    height: 500px;
    margin: 15px;
    color: white;
}

#pics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    width: 240px;
    height: 240px;
}

#blogtitle {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    margin: 1em;
}

#sample-article {
    text-align: justify;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-family: 'Patrick Hand', cursive;
}

footer {
    grid-area: ft;
    background: rgb(21, 44, 65);
}