@import url("blogpost-pc.css");
@import url("blogpost-smartphone.css");

body {
    margin: 0;
    padding: 0;
}

#title-logo a:link a:visited a:hover {
    color: white;
}

#title-logo {
    text-decoration: none;
}

a:link {
    color: white; 
}
a:visited { 
    color: azure; 
}
a:hover { 
    color: lightskyblue; 
}

#side-title {
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#profile-pic {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.sidemenu {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
}

.bio {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.3em;
}

#persona {
    text-align: center;
}
